.event {
    &__recurring {
        @include josefin-bold;
        text-transform: uppercase;
        color: $color-brand-red;
        margin-bottom: 1rem;
        text-align: center;
    }

    .-rich-text {
        margin-top: 2rem;
    }

    &__button {
        text-align: center;
    }
}