.event {
    &__recurring {
        @include josefin-bold;
        text-transform: uppercase;
        color: $color-brand-red;
        margin-bottom: 1rem;
        text-align: center;
    }

    .-rich-text {
        margin-top: 2rem;
    }

    &__button {
        text-align: center;
    }
}

.calendar {
    &__button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;

        a {
            text-decoration: underline;
            color: $color-brand-red;
            font-size: 16px;
            @include josefin-semi;

            &:hover {
                color: darken($color-brand-red, 10%);
            }
        }
    }

    &__embed {
        width: 100%;
        height: 600px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}