.tabbed {

  &-tabs {
    @include span(12);
    list-style: none;
    margin-top: pxem(30);
    display: flex;
    flex-direction: column;

    @include mq($from: $breakpoint-small) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: pxem(20) 0 pxem(10) 0;
    }

    li {
      @include josefin-semi;
      line-height: 1;
      font-size: pxem(16);
      position: relative;
      color: $color-brand-red;
      transition: color 240ms $t-1, background 240ms $t-1;
      padding: 0 pxem(15);
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      border: 1px solid $color-brand-red;
      background: rgba($color-brand-red, 0);
      margin: 5px 20px;
      min-width: 100px;
      text-align: center;
      height: pxem(45);
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &.active {
        background: rgba($color-brand-red, 1);
        color: $color-white;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &-content {
    @include span(12);
    padding-top: pxem(20);
    padding-bottom: pxem(15);

    // &-view {
    //   display: none;
    //   opacity: 0;
    //   transition: opacity 240ms $t-1;

    //   &.show {
    //     display: block;
    //     opacity: 1;
    //   }
    // }

    h2 {
      text-transform: uppercase;
      @include general-bold($color-brand-red);
      font-size: pxem(16);
      margin-bottom: pxem(15);
      @include col(12);
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
